/.SpamlDescriptionLabelProvider.java._trace
/.SpamlDescriptionLabelProvider.xtendbin
/.SpamlLabelProvider.java._trace
/.SpamlLabelProvider.xtendbin
/SpamlDescriptionLabelProvider.java
/SpamlLabelProvider.java
