<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated arduinoML -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="arduinoML.presentation.ArduinoMLModelWizardID"
            name="%_UI_ArduinoMLModelWizard_label"
            class="arduinoML.presentation.ArduinoMLModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ArduinoMLModelFile.gif">
         <description>%_UI_ArduinoMLModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated arduinoML -->
      <editor
            id="arduinoML.presentation.ArduinoMLEditorID"
            name="%_UI_ArduinoMLEditor_label"
            icon="icons/full/obj16/ArduinoMLModelFile.gif"
            extensions="arduinoml"
            class="arduinoML.presentation.ArduinoMLEditor"
            contributorClass="arduinoML.presentation.ArduinoMLActionBarContributor">
      </editor>
   </extension>

</plugin>
